/*classes*/
.funParagraph {
    color: green;
    text-align: center;
    padding-left: 550px;
    padding-right: 550px;
}

.roadBottom {
    text-align: center;
    color: white;
}

.roadTop {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.passing {
    color: yellow;
    text-align: center;
}

/*ids*/
#mainHeading {
    color: red;
    text-align: center;
}

#item {
    color: white;
    margin-top: 5px;
    margin-left: 1150px;
    padding: 5px; /* Add padding for visual appeal */
}

#storyTime {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: 550px;
    margin-left: 550px;
    margin-bottom: 20px;
}

/*elements*/
body {
    margin: 8px;
    display: block;
    background-color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: white;
    text-align: center;
    padding-top: 100px;
}

h2 {
    color: white;
    text-align: center;
}
